<script setup>
import { RouterView } from 'vue-router';
import { useHead } from '@unhead/vue'

import { reactive, computed } from 'vue';

const siteData = reactive({
  title: 'I.T.',
  description:'I.T. วิทยาลัยเทคนิคตราด'
})

useHead({
  title: computed(()=>siteData.title),
  meta: [
    {
      name: 'I.T.',
      content:computed(()=> siteData.description)
    }
  ]
})
</script>

<template>
  <router-view />
</template>

<style scoped>
</style>
